/*
Hoja de estilos externos
*/

header{
    background-color: brown;
}

nav{
    background-color: yellow;
}

section{
    background-color: #FFFFFF;
}

aside{
    background-color: tomato;
}

footer{
    background-color: black;
}